@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

/*Intro*/
.intro-container {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/bg.jpg");
    background-size: cover;
    height: 100vh;
    color: #282b2e;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.intro-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.intro-logo {
    width: 200px;
}

.intro-title {
    color: #b98d36;
}

.intro-languages-wrap {
  margin-top: 50px;
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}

.intro-link {
    text-decoration: none;
}

.lang-box {
    background-color: rgba(255,255,255,0.1);
    padding: 10px 40px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid rgba(255,255,255,0.05);
    width: 180px;
}

.lang-box--active {
    border: 1px solid #b98d36;
}

.lang-box:hover {
    border: 1px solid #b98d36;
}

.lang-box h6 {
    color: #b98d36;
    font-weight: 900;
    font-size: 22px;
}

.lang-box p {
    color: white;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-top: 5px;
}

/*Meals*/
.meals-container {
    background-image: url('http://themearth.com/demo/html/restaura/view/assets/img/speacial-bg.jpg');
    background-size: cover;
    padding: 30px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: hidden;
}

.meals-header {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.column-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-back {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #b98d36;
    border-radius: none;
    padding: 10px 20px;
}

.column-3 {
    width: 20%;
}

.meals-title {
    font-size: 42px;
}

.meals-subtitle {
    opacity: .5;
    font-size: 16px;
    font-weight: 400;
}

.carousel-wrapper {
    width: 80%;
    max-height: 500px;
    position: relative;
}

.meal-card {
    min-height: 100%;
    cursor: pointer;
}

.meal-img-wrapper {
    min-height: 300px;
    max-height: 300px;
    position: relative;  
    overflow: hidden;
}

.meal-img {
    width: 100%;
    max-height: 300px;
    transition: all .4s ease;
}

.meal-price {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 180px;
    background-color: #282b2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meal-price span {
    color: #b98d36;
    font-weight: 900;
    font-size: 32px;
}

.meal-content {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease;
    text-align: center;
    max-height: 100px!important;
    min-height: 100px!important;
}

.meal-name {
    font-size: 26px;
}

.meal-card:hover .meal-img {
    transform: scale(1.2);
}

.meal-card:hover .meal-content {
    background-color: rgba(50,51,51,.8);
    color: #b98d36;
}

.meals-bback {
    position: absolute;
    top: 30%;
    left: -80px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    width: 64px;
    height: 64px;
    text-align: center;
    display: inline-block;
    outline: none;

    background-color: #282b2e;
    color: white;
}

.meals-bback:disabled,
.meals-bback[disabled] {
    background-color: rgba(255,255,255,.1);
}

.meals-bback:hover {
    background-color: #b98d36;
}


.meals-bnext {
    position: absolute;
    top: 30%;
    right: -80px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    width: 64px;
    height: 64px;
    text-align: center;
    display: inline-block;
    outline: none;
    background-color: #282b2e;
    color: white;
}

.meals-bnext:disabled,
.meals-bnext[disabled] {
    background-color: rgba(255,255,255,.1);
}

.meals-bnext:hover {
    background-color: #b98d36;
}

.meals-slider {
    height: 100vh!important;
}


/*Menu*/
.menu-container {
    background-image: url('http://themearth.com/demo/html/restaura/view/assets/img/speacial-bg.jpg');
    background-size: cover;
    
    height: 100vh;
    color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.menu-carousel-wrapper {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row-reverse;  
}

.slider-wrapper {
 width: 80%;
 height: 80vh;
}

.menu-card {
    position: relative;
    height: 80vh;
    cursor: pointer;
    background-size: cover;
}

.menu-card-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #b98d36;
    font-size: 42px;
    font-weight: 900;
}

.dots-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    
    background-color: #282b2e;
    padding: 20px 20px;
    height: 80vh;
}
.dots {   
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    background-color: #282b2e;
    letter-spacing: 0.2px;
}

.carousel__dot--selected {
    background-color: #b98d36;
}

.carousel__slider {
    max-height: 90vh!important;
}

/*Meal*/
.meal-container {
    background-image: url('http://themearth.com/demo/html/restaura/view/assets/img/speacial-bg.jpg');
    background-size: cover;
    height: 100vh;
    color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}

.meal-wrap {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.meal-photo {
    width: 50%;
}

.meal-photo-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.meal-price2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 180px;
    background-color: #282b2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meal-price2 span {
    color: #b98d36;
    font-weight: 900;
    font-size: 28px;
}




.meal-content-single {
    width: 50%;
    background-color: #282b2e;
    padding: 50px;
}

.meal-title {
    font-size: 42px;
}

.meal-price-single {
    color: #b98d36;
    font-weight: 900;
    font-size: 32px;
}

.meal-desc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.meal-ingredients {
    display: flex;
    flex-direction: row;
}

.meal-ingredients-title {
    text-transform: uppercase;
    margin-right: 20px;
}

.meal-ingredient {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.meal-ingredient span {
    color: #b98d36;
    font-weight: 900;
    font-size: 16px;
    margin-right: 10px;
}

.meal-bback {
    
    font-size: 25px;
    font-weight: 500;
    border: none;
    width: 50px;
    height: 142px;
    text-align: center;
    display: inline-block;
    outline: none;

    background-color: #282b2e;
    color: white;
}

.meal-bback:disabled,
.meal-bback[disabled] {
    background-color: rgba(255,255,255,.1);
}

.meal-bback:hover {
    background-color: #b98d36;
}


.meal-bnext {
    
    font-size: 25px;
    font-weight: 500;
    border: none;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    outline: none;
    background-color: #282b2e;
    color: white;
}

.meal-bnext:disabled,
.meal-bnext[disabled] {
    background-color: rgba(255,255,255,.1);
}

.meal-bnext:hover {
    background-color: #b98d36;
}

.meal-slider {
    height: 100px;
}

.related-meal {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    
}

.related-meal:hover .related-meal-photo {
    transform: scale(1.6)
}

.related-meal-photo {
    height: 70px;
    width: 70px;
    background-size: cover;
    border-radius: 60%;
    transition: all .2s;
    
}

.related-meal-overflow {
    overflow: hidden;
    margin-right: 10px;
    border-radius: 60%;
   
}

.related-meal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.related-meal-title {
    font-size: 22px;
}

.related-meal-price {
    color: #b98d36;
    font-size: 20px;
    font-weight: 900;
}

.related-meal-price span {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.related-meal-price-wrap {
    display: flex;
    flex-direction: row;
}

.related-meal-price-wrap-line-wrap {
    display: flex;
    align-items: center;
    width: 60%;
}

.line {
    width: 90%;
    height: 1px;
    border-top: 1px dashed rgba(255,255,255,0.3);
}

.related-meal-price-price-wrap {
    width: 40%;
}

.meal-slider-wrap {
    width: 100%; 
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
}

.meal-slider-controls {
    position: relative;
}

.meal-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.meal-controls-title {
    margin-top: 10px;
    margin-left: 10px;
    color: #b98d36;
    text-transform: uppercase;
}